@model Tasky
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Item</title>
    <link href="~/css/CreateTask.css" rel="stylesheet" />
</head>
<body>
    <div class="contain">
        <h1>Edit Task</h1>
        <h3>ListItem</h3>
        <form action="/TaskManager/Edit" method="post">
            <input type="hidden" name="id"/> 
            <label for="name">Title</label>
            <input type="text" id="name" name="title" placeholder="Task title" value="@Model.Title" required>

            <label for="description">Description</label>
            <input type="text" id="description" name="description" placeholder="Task description" value="@Model.Description" required>

            <label for="deadline">DeadLine</label>
            <input type="date" id="deadline" name="deadline" value="@Model.DeadLine" required>

            <button class="btn btn-success type="submit">Save</button>
        </form>
    </div>
</body>
</html>