<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New To-Do Item</title>
    <link href="~/css/newitem.css" rel="stylesheet" />
</head>
<body>
    <div class="form-container">
        <h1>Create New To-Do Item</h1>
        <form action="/TaskManager/ShowAll" >
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name">
            <button class ="btn btn-success type="submit">Create</buttonclass>
        </form>
    </div>
</body>
</html>